@import url(./reset.css);
@import url(./section-manufacturer.css);
@import url(./section-calming-chews.css);
@import url(./section-hero.css);
@import url(./section-header.css);

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header-hero-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/section-hero/hero-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 100px;
}

.error {
  border: 1px solid red;
}
